<div class="footer">
	<div class="main-box">
		我是footer
	</div>
</div>
<!- -[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="../../js/common/json2.js"></script>
<script type="text/javascript" src="../../js/common/console.js"></script>
<![endif]- ->
<script type="text/javascript" src='../../js/common/jquery.js'></script>
<!- -[if (gte IE 6)&(lte IE 9)]>
<script type="text/javascript" src="../../js/common/jquery.xdomainrequest.min.js"></script>
<script type="text/javascript" src="../../js/common/jquery.placeholder.min.js"></script>
<![endif]- ->
<!-- DateUtil 时间处理工具，可选择使用
<script type="text/javascript" src='../../js/common/DateUtil.js'></script>
-->
<script type="text/javascript" src='../../js/common/common.js'></script>
