<div class="menu">
    <div class="main-box">
        <ul>
            <li surl="./index.html"><a herf="#">首页</a></li>
            <li surl="./index.html?sss=ss"><a herf="#">信用动态</a></li>
            <li surl="./index.html"><a herf="#">政策法规</a></li>
            <li><a herf="#">信息公示</a></li>
            <li><a herf="#">联合奖惩</a></li>
            <li><a herf="#">信用建设</a></li>
            <li><a herf="#">办事指南</a></li>
            <li><a herf="#">政民互动</a></li>
            <li><a herf="#">关于我们</a></li>
        </ul>
    </div>
</div>